source https://www.nuget.org/api/v2

nuget Microsoft.AspNetCore.Identity.EntityFrameworkCore
nuget Microsoft.AspNetCore.Identity.UI 3.0.0
nuget Microsoft.EntityFrameworkCore.InMemory
nuget Microsoft.EntityFrameworkCore.SqlServer
nuget Microsoft.EntityFrameworkCore.Tools 3.0.0

group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.0
    storage: none

    nuget FSharp.Core
    nuget Saturn
    nuget Fable.Remoting.Giraffe ~> 3

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Fable.React ~> 5
    nuget Fable.Remoting.Client ~> 5
    nuget Fulma ~> 2
    nuget Fable.FontAwesome.Free ~> 2

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem