source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget Fable.Remoting.Giraffe
nuget Saturn
nuget Expecto
nuget Microsoft.AspNetCore.Authentication.Google 5.0.12
nuget Microsoft.AspNetCore.Identity.EntityFrameworkCore 5.0.12
nuget Microsoft.AspNetCore.Identity.UI 5.0.12
nuget Microsoft.EntityFrameworkCore 5.0.12
nuget Microsoft.EntityFrameworkCore.Abstractions 5.0.12
nuget Microsoft.EntityFrameworkCore.Relational 5.0.12
nuget Microsoft.EntityFrameworkCore.SqlServer 5.0.12


nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client
nuget Feliz
nuget Feliz.Bulma
nuget Fable.FontAwesome.Free 2.1.0
nuget Fulma

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Farmer
