@charset "utf-8";

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
@import '~open-sans-fonts/open-sans';
$family-primary: 'Open Sans';

// Bulma
@import "~bulma/bulma";


.hrDivider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

// dropdown

.myDropdown {
    position: relative;
    display: inline-block;
}

.myDropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    right: 0;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.myDropdown:hover .myDropdown-content {
    display: block;
}

@media screen and (max-width: 1023px) {
    .myDropdown-content {
        left: 0;
    }
}

// registerfields

.registerBox {
    padding: 0px;
    padding-top: 1px;
    margin: 0px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #e6e6e6;
    color: grey;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.registerBox:hover {
    border-bottom: 2px solid hsl(204, 86%, 53%);
    color: hsl(204, 86%, 53%);
}

.registerBox:focus-within {
    border-bottom: 2px solid hsl(204, 86%, 53%);
    color: hsl(204, 86%, 53%);
}

.dropdownFilter:hover {
    border-bottom: 1px solid aquamarine;
    color: aquamarine;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
}

.emptyOnHover:hover {
}

.divToLinkEmptySpan {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 31
}

//oauth login button css
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn:hover {
    transition: all 0.3s ease 0s;
    /*text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);*/
}

//Google oauth css
.loginBtn--google {
    font-family: "Roboto", Roboto, arial, sans-serif;
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #d13e2c;
}

//GitHub oauth css
.loginBtn--github {
    background: #444444;
}

.loginBtn--github:before {
    border-right: #3b3b3b 1px solid;
    background-image: url('https://visualpharm.com/assets/720/Github-595b40b65ba036ed117d442f.svg');
    background-size: contain;
}

.loginBtn--github:hover,
.loginBtn--github:focus {
    background: #4d4d4d;
}

//Orcid oauth css

.loginBtn--orcid {
    background: #2E547F;
    border: thin solid #edf5f0;
}

.loginBtn--orcid:before {
    border-right: #1d3552 1px solid;
    background-image: url('https://orcid.figshare.com/ndownloader/files/8439047/preview/8439047/preview.jpg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center
}

.loginBtn--orcid:hover,
.loginBtn--orcid:focus {
    background: #37689e;
}