@charset "utf-8";

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
@import '~open-sans-fonts/open-sans';
$family-primary: 'Open Sans';

// Bulma
@import "~bulma/bulma";

.registerBox {
    padding: 0px;
    padding-top: 1px;
    margin: 0px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #e6e6e6;
    color: grey;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.registerBox:hover {
    border-bottom: 2px solid hsl(204, 86%, 53%);
    color: hsl(204, 86%, 53%);
}

.registerBox:focus-within {
    border-bottom: 2px solid hsl(204, 86%, 53%);
    color: hsl(204, 86%, 53%);
}